<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markerhub.mapper.TagMapper">

    <select id="getAll" resultType="com.markerhub.entity.Tag">
       select
            mt.id ,
            mt.description ,
            mt.name,
            ifnull(temp.blognum,0) blogNum
        from
            m_tag mt
        left join (
            select
                count(mbt.t_id) blogNum,
                mbt.t_id id
            from
                (
                select
                    mb.id
                from
                    m_blog mb) tmb
            left join m_blog_tag mbt on
                tmb.id = mbt.b_id
            group by
                mbt.t_id) temp on
            temp.id = mt.id
    </select>

    <select id="countBlogbyTag" resultType="int">
        select count(1) from m_blog_tag mbt where mbt.t_id = #{tagId}
    </select>

</mapper>
